* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vet-sec-gap: 10px;
    --vet-list-gap: 5px;
    --ver-border-radius: 10px;
    --vet-color-primary: #0042c5;
    --vet-color-secondary: #00a1ff;
    --vet-color-action: #c41212;
    --vet-color-border: #263d67;
    --vet-color-list-item: #1d2e4d;
}


.page-background {
    background-color: #0d1e37;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
}

.calculator-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #d8e5ff;
    margin-bottom: 60px;
}

.calculator-container {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.calculator-sections {
    display: flex;
    gap: var(--vet-sec-gap);
    flex-wrap: wrap;
}

.calculator-section {}


.calculator-section--select-disabilities {
    flex: 2;
}

.calculator-section--selections {
    flex: 1;
}

.calculator-section--combined-rating {
    flex: 1;
}

.calculator-section__title,
.additional-section__title {
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(90deg, #022877, rgba(2, 40, 119, 0));
    color: #d8e5ff;
    padding: 15px 0px 15px 20px;
    border-radius: 5px;
    margin-bottom: var(--vet-sec-gap);
}

.select-disabilities {
    display: flex;
    gap: var(--vet-list-gap);
    flex-wrap: wrap;
    height: 575px;
}

.select-disabilities__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--vet-list-gap);
}

.select-disabilities__list-item {
    border: 1px solid var(--vet-color-border);
    background-color: var(--vet-color-list-item);
    color: #ffffff;
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}

.select-disabilities__list-item:hover {
    background-color: #2a416a;
}

.select-disabilities__list-item--active {
    background-image: linear-gradient(-90deg, #0048da, #002776);
}

.select-disabilities__list-item-arrow {
    display: block;
    width: 16px;
    height: 16px;
}

.select-disabilities__list-item-tick {
    display: none;
    width: 20px;
    height: 20px;
    stroke: #ffffff;
    stroke-width: 2;
}

.select-disabilities__list-item--active .select-disabilities__list-item-arrow {
    display: none;
}

.select-disabilities__list-item--active .select-disabilities__list-item-tick {
    display: block;
}

.select-disabilities__percentages {
    flex: 1.8;
    border: 1px solid var(--vet-color-border);
    border-left: 5px solid;
    border-image: linear-gradient(0deg, rgba(0, 39, 117, 1) 0%, rgba(0, 83, 252, 1) 50%, rgba(0, 39, 117, 1) 100%);
    border-image-slice: 1;

}

.select-disabilities__percentage-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--vet-sec-gap);
    padding: 70px 60px;
    height: 100%;
}

.select-disabilities__percentage-button {
    background: linear-gradient(90deg, rgba(29, 46, 76, 1) 0%, rgba(29, 46, 76, 0) 100%);
    color: #c4d7ff;
    border-radius: 5px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

.select-disabilities__percentage-button:hover {
    background-color: #2a416a;
}

.select-disabilities__percentage-button--active {
    background: #002B80;
    background: linear-gradient(90deg, rgba(0, 43, 128, 1) 0%, rgba(0, 63, 189, 1) 100%);
}

.selections-list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--vet-color-border);
    gap: 10px;
    padding: 70px 60px;
    height: 575px;
}

.selections-list__item {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1C2D4C;
    background: linear-gradient(90deg, rgba(28, 45, 76, 1) 0%, rgba(2, 21, 46, 1) 100%);
    border: 1px solid #00245b;
}

.selections-list__item-result {
    display: flex;
    font-size: 14px;
    color: #a3b5db;
}


.selections-list__item-remove {
    margin: 0;
    padding: 0;
    background: transparent url('./assets/icons/x-mark.png') no-repeat center center;
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.combined__content {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr 1.5fr 1fr;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    height: 575px;
    background-color: #02152e;
    padding: var(--vet-list-gap);
    row-gap: var(--vet-list-gap);
    border: 1px solid var(--vet-color-border);
}

.combined__result {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.combined__result--neutral {
    background-color: #051a3b;
}

.combined-rating__number {
    font-size: 4rem;
    font-weight: 700;
    color: #00d7ff;
    margin-top: 20px;
    padding: 4px;
}

.combined__label {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    color: #d8e5ff;
}

.combined__number--large {
    font-size: 4rem;
    font-weight: 700;
    color: #00a1ff;
    padding: 4px;
}

.combined__result--transparent {
    background-color: transparent;
}

.combined__notice {
    font-size: 0.8rem;
    color: #a8b0c2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.combined__notice-icon {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 10px;
}

.combined__notice-text {
    display: inline-flex;
    flex-flow: column wrap;
    align-items: start;
}


.combined__monthly {
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

.combined__consultation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.combined__consultation__button {
    background-color: var(--vet-color-action);
    border: 1px solid #f80001;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 50px;
}




/* SMC-K and Dependents Section */
.additional-sections {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.additional-section {
    flex: 1;
    min-width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.additional-section__inputs {
    padding: 15px 20px;

}

.additional-section__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #d8e5ff;
}

.additional-section__text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.input-label-text--small {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.additional-section__label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin-right: 15px;
}

.additional-section__input--radio {
    margin-right: 8px;
}

.additional-section__select {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    display: block;
    width: 85px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--vet-color-border);
    color: white;
    padding: 10px 20px;
    background-color: #1d2e4d;
}

.additional-section__dependents--under {
    margin-bottom: 20px;
}





/* .smc-k__button {
    background-color: #1d3356;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
    width: 100%;
} */

/* .smc-k__button:hover {
    background-color: #2a416a;
} */

.dependents-section__controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.dependents-section__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dependents-section__label {
    font-weight: 600;
}

.dependents-section__count {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dependents-section__button {
    background-color: #033c94;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.dependents-section__button:hover {
    background-color: #022a6b;
}

.dependents-section__number {
    font-size: 1.2rem;
    font-weight: 700;
}

.smc-eligibility__button {
    background-color: #033c94;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
    width: 100%;
}

.smc-eligibility__button:hover {
    background-color: #022a6b;
}